html{
font-family:Orbitron;
}	
#main{
	width:700px;
	height:700px;
	border:1px solid black;
	margin:20px auto;
	box-shadow:#ccc 0px 0px 10px 5px;
}
#board {
	overflow:hidden;
	margin:50px auto;
	border-collapse:collapse;
}
td{
	text-align:center;
	font-weight:bold;
	width:60px;
	height:60px;
	background:#575A60;

}


tr:nth-child(2n+1) td:nth-child(2n+1),
tr:nth-child(2n) td:nth-child(2n){
	background:#7E838B;

}

#board td:first-child,#board td:last-child{
	width:20px;
	background:#241A05;
	border-left:2px solid black;
	border-right:2px solid black;
	
}
#board tr:first-child td,#board tr:last-child td{
	height:20px;
	background:#241A05;
	border-top:2px solid black;
	border-bottom:2px solid black;
}
.frame{
	color:#fff;
	text-align:center;
}
.black{
	color:black;
}
.white{
	color:white;
}